@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("image/photo-14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* container */
.container {
  width: 400px;
  min-height: 80vh;
  margin-top: 1.5rem;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  align-items: center;
  color: rgba(31, 28, 28, 0.698);
  -webkit-box-shadow: 1px 6px 57px 43px rgba(231, 236, 240, 0.47);
  -moz-box-shadow: 1px 6px 57px 43px rgba(231, 236, 240, 0.47);
  box-shadow: 1px 6px 57px 43px rgba(231, 236, 240, 0.47);
  border-radius: 15px;
}

#title {
  font-size: 25px;
  font-weight: 400;
}

/* image container */
.image-container {
  width: 200px;
  height: 200px;
  margin: 20px auto auto;
  position: relative;
}
/* border animation */
.span1 {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border: 1px solid #fff;
  border-radius: 38% 63% 62% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  padding: 20px;
  animation: animate 9s infinite;
  animation-play-state: paused;
}
.span1 {
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
}
.span2 {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border: 1px solid #fff;
  border-radius: 38% 63% 62% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  padding: 20px;
  animation: imageRotate 8s infinite;
  animation-play-state: paused;
}
.span2 {
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
}
.span3 {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border: 1px solid #fff;
  border-radius: 38% 63% 62% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  padding: 20px;
  animation: animate 10s infinite;
  animation-play-state: paused;
}
.span3 {
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
}
.image-container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 100%;
  -webkit-box-shadow: 0px 2px 30px 1px rgba(116, 182, 179, 0.2);
  -moz-box-shadow: 0px 2px 30px 1px rgba(116, 182, 179, 0.2);
  box-shadow: 0px 2px 30px 1px rgba(116, 182, 179, 0.2);
  animation: imageRotate 10s linear infinite;
  animation-play-state: paused;
}
/* image-container:keyframes */
@keyframes imageRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

.container.play img {
  animation-play-state: running;
}
.container.play span {
  animation-play-state: running;
}

/* time */
.time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
 
/* progress-container */
.progress-container {
  background-color: #fff;
  width: 100%;
  margin: 1rem auto;
  height: 6px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}
.progress {
  width: 0%;
  height: inherit;
  background-color: tomato;
  border-radius: inherit;
}

/* nav */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  padding: 10px;
  border: none;
  background-color: transparent;
  color: rgba(34, 32, 32, 0.575);
  font-size: 3rem;
  cursor: pointer;
  font-size: 1.7rem;
  outline: none;
}

.big {
  font-size: 2rem;
}

/* range */
.range {
  appearance: none;
  width: 70%;
  height: 20px;
  border-radius: 15px;
  background-color: darkgray;
  outline: none;
  overflow: hidden;
  border: 1px solid #fff; 
}
.center {
  padding: 10px;
  width: 100%;
}
.form-element input[type="range"] {
  appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 15px;
  background-color: #aaa;
  outline: none;
  overflow: hidden;
}
.form-element input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: #f06262;
  border-radius: 10px;
  box-shadow: -350px 0px 0px 340px #f06262;
}

#rangevalue {
  font-weight: 100;
}
#range {
  -webkit-box-shadow: 0px 0px 11px 1px rgba(4, 4, 4, 0.27);
  -moz-box-shadow: 0px 0px 11px 1px rgba(4, 4, 4, 0.27);
  box-shadow: 0px 0px 11px 1px rgba(4, 4, 4, 0.27);
}
/* media query */
@media (max-width: 460px) {
  .section {
    background: url("image/photo-16.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-size: inherit;
  }
  .container {
    width: 250px;
    height: 480px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 20;
    font-weight: 50;
    padding: 20px;
  }
  #title {
    margin-top: 10px;
    font-size: 20px;
  }
  .image-container {
    width: 150px;
    height: 150px;
  }
  .time span {
    font-size: 20px;
  }

  .nav {
    font-size: 0.5rem;
    font-style: 100;
  }
  .btn {
    color: #fff;
  }
}
